<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@fixit</title>
    <link href="css/fixit.css" rel="stylesheet">
    <link href="css/fixit-nav.css" rel="stylesheet">
    <style media="screen">
      body {
        background: url('../img/images.jpg') no-repeat center center fixed;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">@MrFixIt</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="nav-item"><a class="nav-link active" href="#">@MrFixIt</a></li>
            <li class="nav-item"><a class="nav-link" href="/car_services">CAR SERVICES</a></li>
            <li class="nav-item"><a class="nav-link" href="/mechanical_repairs">MECHANIC REPAIRS</a></li>
            <li class="nav-item"><a class="nav-link" href="/auto_repairs">AUTO REPAIRS</a></li>
            <li class="nav-item"><a class="nav-link" href="/air_conditioning">AIR CONDITIONING</a></li>
            <li class="nav-item"><a class="nav-link" href="/auto_electronics">AUTO ELECTRONICS</a></li>
            <li class="nav-item"><a class="nav-link" href="/car_repairs">CAR REPAIRS</a></li>
          </ul>
        </nav>
      </div>

      {{{body}}}

      <footer class="footer">
        <p>&copy; @MrFixIt.com 2017</p>
      </footer>

    </div>

  </body>
</html>
