<h4 style="text-align: center; margin: 25px;">AUTO ELECTRONICS</h4>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <table class="firstData">
            <thead>
              <tr>
                <th><h3>Car Repairs done here!</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>I want picture here as a background and its discription please!!</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table class="secondThird">
            <thead>
              <tr>
                <th><h4>Car Repairs done here!</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>I want picture here as a background and its discription please!!</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table  class="secondThird">
            <thead>
              <tr>
                <th><h4>Car Repairs done here!</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>I want picture here as a background and its discription please!!</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
