  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>CAR REPAIRS</h4>
      </div>
    </div>
    <div class="row">
    <div class="col-md-6">
      <div class="card  backgrnd">
        <strong><h2 class="cardText">MrFixit will accurately diagnose your vehicle constant mechanical failures and niggles .<br>We inspect and repair the following: </h2></strong>
          <ul class="list">
            <li>BRAKES</li>
            <li>CLUTCHES</li>
            <li>SHOCKS</li>
            <li>SPRINGS</li>
            <li>VC JOINTS</li>
            <li>STREERING RACK</li>
            <li>WHEEL BEARINGS</li>
            <li>And other vehicle needs, as diagnised</li>
          </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Request Service</h4>
      <p>content here</p>
      <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
   </div>

  </div>

  </div>
