<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <table class="firstData">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>
                <form class="form-signin">
                 <h3 class="form-signin-heading">Let's help you service your vehicle</h3>
                 <h4 class="form-signin-heading" required>Gender</h4>
                 <label for="checkbox" class="female">Male</label>
                 <input type="checkbox" name="female" id="male" placeholder="male">
                 <label for="checkbox" class="female">Female</label>
                 <input type="checkbox" name="female" id="female" placeholder="female"><hr>
                 <h4 class="form-signin-heading">Your Car Model</h4>
                 <label for="Quantum Van" class="Quantum Van">Quantum Van</label>
                 <input type="checkbox" name="Quantum Van" value="Quantum Van" id="Quantum Van" placeholder="Quantum Van"><br>
                 <label for="toyota bakkie" class="toyota bakkie">toyota bakkie</label>
                 <input type="checkbox" name="toyota bakkie" value="toyota bakkie" id="toyota bakkie" placeholder="toyota bakkie"><br>
                 <label for="Chico Golf" class="Chico Golf">Chico Golf</label>
                 <input type="checkbox" name="Chico Golf" value="Chico Golf" id="Chico Golf" placeholder="Chico Golf"><br>
                 <label for="VW Vellocity" class="VW Vellocity">VW Vellocity</label>
                 <input type="checkbox" name="VW Vellocity" id="VW Vellocity" placehlders="VW Vellocity"><br>
                 <label for="Toyota tazz" class="Toyota tazz">Toyota tazz</label>
                 <input type="checkbox" name="Toyota tazz" value="Toyota tazz" id="Toyota tazz"><br>
                 <label for="Mazda" class="Mazda">Mazda</label>
                 <input type="checkbox" name="Mazda" id="Mazda" value="Mazda"><br>
                 <label for="other" class="others">Other</label>
                 <input type="checkbox" name="other" id="others" placeholder="Others"><hr>
                 <br>
                 <button class="btn btn-md btn-primary" type="submit">Submit</button->
              </form>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="secondThird">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>
                <form class="form-signin">
                 <h3 class="form-signin-heading">Let's help you service your vehicle</h3>
                 <h4 class="form-signin-heading" required>Gender</h4>
                 <label for="checkbox" class="female">Male</label>
                 <input type="checkbox" name="female" id="male" placeholder="male">
                 <label for="checkbox" class="female">Female</label>
                 <input type="checkbox" name="female" id="female" placeholder="female"><hr>
                 <h4 class="form-signin-heading">Your Car Model</h4>
                 <label for="Quantum Van" class="Quantum Van">Quantum Van</label>
                 <input type="checkbox" name="Quantum Van" value="Quantum Van" id="Quantum Van" placeholder="Quantum Van"><br>
                 <label for="toyota bakkie" class="toyota bakkie">toyota bakkie</label>
                 <input type="checkbox" name="toyota bakkie" value="toyota bakkie" id="toyota bakkie" placeholder="toyota bakkie"><br>
                 <label for="Chico Golf" class="Chico Golf">Chico Golf</label>
                 <input type="checkbox" name="Chico Golf" value="Chico Golf" id="Chico Golf" placeholder="Chico Golf"><br>
                 <label for="VW Vellocity" class="VW Vellocity">VW Vellocity</label>
                 <input type="checkbox" name="VW Vellocity" id="VW Vellocity" placehlders="VW Vellocity"><br>
                 <label for="Toyota tazz" class="Toyota tazz">Toyota tazz</label>
                 <input type="checkbox" name="Toyota tazz" value="Toyota tazz" id="Toyota tazz"><br>
                 <label for="Mazda" class="Mazda">Mazda</label>
                 <input type="checkbox" name="Mazda" id="Mazda" value="Mazda"><br>
                 <label for="other" class="others">Other</label>
                 <input type="checkbox" name="other" id="others" placeholder="Others"><hr>
                 <br>
                 <button class="btn btn-md btn-primary" type="submit">Submit</button->
              </form>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table  class="secondThird">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>
                <form class="form-signin">
                 <h3 class="form-signin-heading">Let's help you service your vehicle</h3>
                 <h4 class="form-signin-heading" required>Gender</h4>
                 <label for="checkbox" class="female">Male</label>
                 <input type="checkbox" name="female" id="male" placeholder="male">
                 <label for="checkbox" class="female">Female</label>
                 <input type="checkbox" name="female" id="female" placeholder="female"><hr>
                 <h4 class="form-signin-heading">Your Car Model</h4>
                 <label for="Quantum Van" class="Quantum Van">Quantum Van</label>
                 <input type="checkbox" name="Quantum Van" value="Quantum Van" id="Quantum Van" placeholder="Quantum Van"><br>
                 <label for="toyota bakkie" class="toyota bakkie">toyota bakkie</label>
                 <input type="checkbox" name="toyota bakkie" value="toyota bakkie" id="toyota bakkie" placeholder="toyota bakkie"><br>
                 <label for="Chico Golf" class="Chico Golf">Chico Golf</label>
                 <input type="checkbox" name="Chico Golf" value="Chico Golf" id="Chico Golf" placeholder="Chico Golf"><br>
                 <label for="VW Vellocity" class="VW Vellocity">VW Vellocity</label>
                 <input type="checkbox" name="VW Vellocity" id="VW Vellocity" placehlders="VW Vellocity"><br>
                 <label for="Toyota tazz" class="Toyota tazz">Toyota tazz</label>
                 <input type="checkbox" name="Toyota tazz" value="Toyota tazz" id="Toyota tazz"><br>
                 <label for="Mazda" class="Mazda">Mazda</label>
                 <input type="checkbox" name="Mazda" id="Mazda" value="Mazda"><br>
                 <label for="other" class="others">Other</label>
                 <input type="checkbox" name="other" id="others" placeholder="Others"><hr>
                 <br>
                 <button class="btn btn-md btn-primary" type="submit">Submit</button->
              </form>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
